{{define "base"}}
<!DOCTYPE html>
<html>
<head>
    <title>ブログ投稿</title>
    <!-- Bootstrap CSSを読み込む -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- 左の固定メニュー -->
            <nav class="col-md-3 d-none d-md-block bg-light sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/view">
                                ブログ投稿一覧
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                ブログ記事を投稿
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <!-- メインコンテンツ -->
            <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4">
                <!-- ページ固有のコンテンツを挿入する場所 -->
                {{template "content" .}}
            </main>
        </div>
    </div>

    <!-- Bootstrap JavaScriptとPopper.jsを読み込む -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{{end}}
